/* Style for the visualization elements */

:root{
    --accent-color: aquamarine;
}

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
    /* fill: #ccc; */
    stroke: black;
    stroke-width: 1.5px;
}

.node:hover {
    cursor: grab;
}

.node.center:hover {
    cursor: default;
}

.node.fixed {
    /* fill: #f00; */
    stroke-width: 3px;
}

.cell {
    stroke: rgb(0, 0, 0);
    stroke-width: 0.5px;
    fill: white;
}

.package {
    fill: transparent;
    stroke: black;
}

.current {
    fill: var(--accent-color);
}

.label {
    text-anchor: middle;
}
  
.label>.name {
    dominant-baseline: text-after-edge;
}
  
.label>.value {
    dominant-baseline: text-before-edge;
}
  
.hoverer {
    fill: transparent;
    stroke: #FF7FAA; /* complementary of accentColor */
    stroke-width:0px;
}

.current.hoverer {
    stroke: var(--accent-color);
}

.current.hoverer:hover {
    filter: brightness(50%);
  }
  
.hoverer:hover {
    stroke-width: 2px;
}