/* Style for the visualization elements */

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
    /* fill: #ccc; */
    stroke: black;
    stroke-width: 1.5px;
}

.node:hover {
    cursor: grab;
}

.node.center:hover {
    cursor: default;
}

.node.fixed {
    /* fill: #f00; */
    stroke-width: 3px;
}